pip==20.2.2
bump2version==1.0.0
wheel==0.34.2
watchdog==0.10.3
flake8==3.8.3
tox==3.19.0
coverage==5.2
Sphinx==4.1.0
twine==1.13.0

pytest==5.4.3
pytest-runner==5.2
pytest-mock==3.2.0
hypothesis==5.24.0
freezegun==0.3.15
