{% macro meetup_event_href(event) -%}
    href="https://www.meetup.com/NOVA-Makers/events/{{ event.meetup_id }}/"
{%- endmacro %}

{% macro event_display(event) -%}
    {{ event.name }}<br>
    {{ event.start_time }} &ndash; {{ event.end_time }}<br>
    at {{ event.location }}
{%- endmacro %}

{% macro linked_event_display(event) -%}
    <strong><a {{ meetup_event_href(event) }} >{{ event.name }}</a></strong><br>
    {{ event.start_time }} &ndash; {{ event.end_time }}<br>
    at {{ event.location }}
{%- endmacro %}

{% macro unknown_location_display(event) -%}
    {{ event.name }}<br>
    {{ event.start_time }} &ndash; {{ event.end_time }}<br>
    Venue: {{ event.venue }}<br>
    Find Us: {{ event.find_us }}
{%- endmacro %}

{% macro special_location_display(location) -%}
    Meetup ID: {{ location.meetup_id }}<br>
    Location: {{ location.location }}<br>
    Override: {{ location.override }}
{% if location.comment %}
    <br>Comment: {{ location.comment }}   
{% endif %}
{%- endmacro %}

{% macro action_display(log_line, css_class="action") -%}
    {{ log_line.timestamp }} <span class="{{ css_class }}">{{ log_line.action }}</span>
{%- endmacro %}

{% macro log_line_display(log_line, final_event) -%}
{% if log_line.action == "Updated" %}
    {{ update_log_line_display(log_line, final_event) }}
{% elif log_line.action == "Unknown Location"  %}
    {{ unknown_location_log_line_display(log_line) }}
{% elif log_line.action == "Special Location Concluded"  %}
    {{ special_location_log_line_display(log_line) }}
{% else %}
    {{ basic_log_line_display(log_line, final_event) }}
{% endif %}
{%- endmacro %}

{% macro basic_log_line_display(log_line, final_event) -%}
    <dt>{{ action_display(log_line) }}</dt>
{% if log_line.event != final_event %}
    <dd>{{ event_display(log_line.event) }}</dd>
{% endif %}
{%- endmacro %}

{% macro unknown_location_log_line_display(log_line) -%}
    <dt>{{ action_display(log_line, css_class="warning") }}</dt>
    <dd>{{ unknown_location_display(log_line.event) }}</dd>
{%- endmacro %}

{% macro special_location_log_line_display(log_line) -%}
    <dt>{{ action_display(log_line, css_class="warning") }}</dt>
    <dd>{{ special_location_display(log_line.special_location) }}</dd>
{%- endmacro %}

{% macro update_log_line_display(log_line, final_event) -%}
{% for name, before, after in log_line.updates() %}
    <dt>{{ action_display(log_line) }} <strong>{{ name }}</strong></dt>
    <dd>From: {{ before }}<br>To: {{ after }}</dd>
{% endfor %}
{%- endmacro %}

{# vim: set tabstop=8 expandtab shiftwidth=4 softtabstop=4 autoindent: #}
