<html lang="en">
<head>
    <title>Meetup Event Changes on Xibo Signs</title>
</head>
<body>
    <h2>Program Execution</h2>
{% if counters %}
    <table>
        <tr>
            <th>Version</th>
            <th>Count</th>
        </tr>
{% for name, count in counters %}
        <tr>
            <td>{{ name }}</td>
            <td>{{ count }}</td>
        </tr>
{% endfor %}
    </table>
{% else %}
    <p>None</p>
{% endif %}
</body>
</html>
{# vim: set tabstop=8 expandtab shiftwidth=4 softtabstop=4 autoindent: #}
